.mainContainer,
.leftContainer,
.rightContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
}

.leftContainer *,
.rightContainer * {
  cursor: pointer;
}

.mainContainer {
  justify-content: space-between;
}

.leftContainer {
}

.rightContainer {
}