.mainContainer {
  display: flex;
  height: 100%;
}

.mainImageContainer {
  height: 100%;
  object-fit: cover;
}

.imagesContainer {
  display: flex;

  flex-direction: column;
  overflow-y: auto;
  height: 100vh;
}
