@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
  padding: 0;
  cursor: default;
}

html::-webkit-scrollbar {
  width: 9px;
}

html::-webkit-scrollbar-thumb {
  background: var(--grey40);
}

:root {
  --primaryDark: #2c3e50;
  --primaryLight: #eff1f3;

  --backgroundDark: #34495e;
  --backgroundLight: #ecf0f1;

  --borderColor: #eaecee;

  --black: #000000;
  --white: #ffffff;

  --grey30: #d8dbdc;
  --grey40: #bdc3c7;
  --grey50: #a1aab3;
  --grey60: #86949e;
  --grey70: #808b96;
  --grey80: #6c7a86;
  --grey90: #34495e;

  --success: #2ecc71;
  --warning: #f39c12;
  --error: #e74c3c;
}

nav,
footer {
  padding: 20px 40px;
}